# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [9]:
import numpy as np
import pandas as pd
import requests
#import XlsxWriter
import math
import json

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course. 

There's a static version of the S&P 500 constituents available here. [Click this link to download them now](https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view?usp=sharing). Move this file into the `starter-files` folder so it can be accessed by other files in that directory.

Now it's time to import these stocks to our Jupyter Notebook file.

In [106]:
stocks = pd.read_csv("sp_500_stocks.csv")
stocks

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

## Acquiring an API Token

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course.

API tokens (and other sensitive information) should be stored in a `secrets.py` file that doesn't get pushed to your local Git repository. We'll be using a sandbox API token in this course, which means that the data we'll use is randomly-generated and (more importantly) has no cost associated with it.

[Click here](http://nickmccullum.com/algorithmic-trading-python/secrets.py) to download your `secrets.py` file. Move the file into the same directory as this Jupyter Notebook before proceeding.

In [14]:
from sec import IEX_CLOUD_API_TOKEN
IEX_CLOUD_API_TOKEN = 'sk_e4b60fff5f6546be8f96d5b265efbe54'

## Making Our First API Call

Now it's time to structure our API calls to IEX cloud. 

We need the following information from the API:

* Market capitalization for each stock
* Price of each stock

In [64]:
symbol = "AAPL"
api_url = f'https://cloud.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()

In [65]:
data

{'avgTotalVolume': 64717500,
 'calculationPrice': 'iexlasttrade',
 'change': -0.3,
 'changePercent': -0.0016,
 'close': None,
 'closeSource': 'official',
 'closeTime': None,
 'companyName': 'Apple Inc',
 'currency': 'USD',
 'delayedPrice': None,
 'delayedPriceTime': None,
 'extendedChange': None,
 'extendedChangePercent': None,
 'extendedPrice': None,
 'extendedPriceTime': None,
 'high': None,
 'highSource': None,
 'highTime': None,
 'iexAskPrice': 186.71,
 'iexAskSize': 100,
 'iexBidPrice': 0,
 'iexBidSize': 0,
 'iexClose': 186.7,
 'iexCloseTime': 1687550399919,
 'iexLastUpdated': 1687550399919,
 'iexMarketPercent': 0.014874860733379364,
 'iexOpen': 185.53,
 'iexOpenTime': 1687527000995,
 'iexRealtimePrice': 186.7,
 'iexRealtimeSize': 31,
 'iexVolume': 787873,
 'lastTradeTime': 1687550399996,
 'latestPrice': 186.7,
 'latestSource': 'IEX Last Trade',
 'latestTime': 'June 23, 2023',
 'latestUpdate': 1687550399919,
 'latestVolume': None,
 'low': None,
 'lowSource': None,
 'lowTime': None,
 'marketCap': 2936548663400,
 'oddLotDelayedPrice': None,
 'oddLotDelayedPriceTime': None,
 'open': None,
 'openTime': None,
 'openSource': 'official',
 'peRatio': 31.75,
 'previousClose': 187,
 'previousVolume': 51245327,
 'primaryExchange': 'NASDAQ',
 'symbol': 'AAPL',
 'volume': None,
 'week52High': 187.05,
 'week52Low': 123.64,
 'ytdChange': 0.4438240348509515,
 'isUSMarketOpen': False}

## Parsing Our API Call

The API call that we executed in the last code block contains all of the information required to build our equal-weight S&P 500 strategy. 

With that said, the data isn't in a proper format yet. We need to parse it first.

In [20]:
price = data['latestPrice']
market_cap = data['marketCap']

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [57]:
my_columns = ['Ticker','Stock Price','Market Capitalization','Number of shares to buy']
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of shares to buy]
Index: []

In [60]:
#final_dataframe = final_dataframe.append([final_dataframe,],ignore_index=True)

                                          
final_dataframe.loc[1] = [symbol,price,market_cap,'nA']

In [61]:
final_dataframe

  Ticker  Stock Price  Market Capitalization Number of shares to buy
1   AAPL       183.94          2893137445880                      nA

## Looping Through The Tickers in Our List of Stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [107]:
final_dataframe = pd.DataFrame(columns=my_columns)
for stock in stocks['Symbol'][:5]:
    api_url = f'https://cloud.iexapis.com/stable/stock/{stock}/quote?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(api_url).json()
    print(data)
    final_dataframe.loc[len(final_dataframe)] = [stock,data['latestPrice'],data['marketCap'],'NA']

{'avgTotalVolume': 4251054, 'calculationPrice': 'close', 'change': 0.29, 'changePercent': 0.00289, 'close': None, 'closeSource': 'official', 'closeTime': None, 'companyName': '3M Co.', 'currency': 'USD', 'delayedPrice': None, 'delayedPriceTime': None, 'extendedChange': None, 'extendedChangePercent': None, 'extendedPrice': None, 'extendedPriceTime': None, 'high': None, 'highSource': '15 minute delayed price', 'highTime': 1687550399992, 'iexAskPrice': 0, 'iexAskSize': 0, 'iexBidPrice': 0, 'iexBidSize': 0, 'iexClose': 100.73, 'iexCloseTime': 1687550394743, 'iexLastUpdated': 1687550394743, 'iexMarketPercent': 0.026923603811679575, 'iexOpen': 102.89, 'iexOpenTime': 1687527007961, 'iexRealtimePrice': 100.73, 'iexRealtimeSize': 300, 'iexVolume': 210293, 'lastTradeTime': 1687550399992, 'latestPrice': 100.72, 'latestSource': 'Close', 'latestTime': 'June 23, 2023', 'latestUpdate': 1687550610137, 'latestVolume': None, 'low': None, 'lowSource': '15 minute delayed price', 'lowTime': 1687546917074, 'marketCap': 55564425696, 'oddLotDelayedPrice': None, 'oddLotDelayedPriceTime': None, 'open': None, 'openTime': None, 'openSource': 'official', 'peRatio': 10.38, 'previousClose': 100.43, 'previousVolume': 2594899, 'primaryExchange': 'NEW YORK STOCK EXCHANGE INC.', 'symbol': 'MMM', 'volume': None, 'week52High': 144.86, 'week52Low': 92.38, 'ytdChange': -0.1356481310317556, 'isUSMarketOpen': False}
{'avgTotalVolume': 1061159, 'calculationPrice': 'close', 'change': 0.45, 'changePercent': 0.00652, 'close': None, 'closeSource': 'official', 'closeTime': None, 'companyName': 'A.O. Smith Corp.', 'currency': 'USD', 'delayedPrice': None, 'delayedPriceTime': None, 'extendedChange': None, 'extendedChangePercent': None, 'extendedPrice': None, 'extendedPriceTime': None, 'high': None, 'highSource': '15 minute delayed price', 'highTime': 1687550399978, 'iexAskPrice': 0, 'iexAskSize': 0, 'iexBidPrice': 0, 'iexBidSize': 0, 'iexClose': 69.49, 'iexCloseTime': 1687550395545, 'iexLastUpdated': 1687550395545, 'iexMarketPercent': 0.033384022763508645, 'iexOpen': 68.66, 'iexOpenTime': 1687527001035, 'iexRealtimePrice': 69.49, 'iexRealtimeSize': 100, 'iexVolume': 37145, 'lastTradeTime': 1687550399978, 'latestPrice': 69.49, 'latestSource': 'Close', 'latestTime': 'June 23, 2023', 'latestUpdate': 1687550402378, 'latestVolume': None, 'low': None, 'lowSource': '15 minute delayed price', 'lowTime': 1687527125598, 'marketCap': 10616371371, 'oddLotDelayedPrice': None, 'oddLotDelayedPriceTime': None, 'open': None, 'openTime': None, 'openSource': 'official', 'peRatio': 44.26, 'previousClose': 69.04, 'previousVolume': 867389, 'primaryExchange': 'NEW YORK STOCK EXCHANGE INC.', 'symbol': 'AOS', 'volume': None, 'week52High': 71.55, 'week52Low': 45.88, 'ytdChange': 0.22410514630774028, 'isUSMarketOpen': False}
{'avgTotalVolume': 5471505, 'calculationPrice': 'close', 'change': -0.2, 'changePercent': -0.00185, 'close': None, 'closeSource': 'official', 'closeTime': None, 'companyName': 'Abbott Laboratories', 'currency': 'USD', 'delayedPrice': None, 'delayedPriceTime': None, 'extendedChange': None, 'extendedChangePercent': None, 'extendedPrice': None, 'extendedPriceTime': None, 'high': None, 'highSource': '15 minute delayed price', 'highTime': 1687550399982, 'iexAskPrice': 0, 'iexAskSize': 0, 'iexBidPrice': 0, 'iexBidSize': 0, 'iexClose': 108.04, 'iexCloseTime': 1687550398826, 'iexLastUpdated': 1687550398826, 'iexMarketPercent': 0.021949802006602258, 'iexOpen': 107.855, 'iexOpenTime': 1687527067966, 'iexRealtimePrice': 108.04, 'iexRealtimeSize': 12, 'iexVolume': 123954, 'lastTradeTime': 1687550399866, 'latestPrice': 108.05, 'latestSource': 'Close', 'latestTime': 'June 23, 2023', 'latestUpdate': 1687550500078, 'latestVolume': None, 'low': None, 'lowSource': '15 minute delayed price', 'lowTime': 1687527128013, 'marketCap': 187893201632, 'oddLotDelayedPrice': None, 'oddLotDelayedPriceTime': None, 'open': None, 'openTime': None, 'openSource': 'official', 'peRatio': 32.74, 'previousClose': 108.25, 'previousVolume': 5480569, 'primaryExchange': 'NEW YORK STOCK EXCHANGE INC.', 'symbol': 'ABT', 'volume': None, 'week52High': 114.6, 'week52Low': 92.37, 'ytdChange': -0.006463261217985554, 'isUSMarketOpen': False}
{'avgTotalVolume': 6723284, 'calculationPrice': 'close', 'change': -1.49, 'changePercent': -0.01084, 'close': None, 'closeSource': 'official', 'closeTime': None, 'companyName': 'Abbvie Inc', 'currency': 'USD', 'delayedPrice': None, 'delayedPriceTime': None, 'extendedChange': None, 'extendedChangePercent': None, 'extendedPrice': None, 'extendedPriceTime': None, 'high': None, 'highSource': '15 minute delayed price', 'highTime': 1687550399819, 'iexAskPrice': 0, 'iexAskSize': 0, 'iexBidPrice': 0, 'iexBidSize': 0, 'iexClose': 135.93, 'iexCloseTime': 1687550395376, 'iexLastUpdated': 1687550395376, 'iexMarketPercent': 0.0328340549589336, 'iexOpen': 137.36, 'iexOpenTime': 1687527090323, 'iexRealtimePrice': 135.93, 'iexRealtimeSize': 9, 'iexVolume': 242819, 'lastTradeTime': 1687550399648, 'latestPrice': 135.92, 'latestSource': 'Close', 'latestTime': 'June 23, 2023', 'latestUpdate': 1687550464278, 'latestVolume': None, 'low': None, 'lowSource': '15 minute delayed price', 'lowTime': 1687550092412, 'marketCap': 239802253306, 'oddLotDelayedPrice': None, 'oddLotDelayedPriceTime': None, 'open': None, 'openTime': None, 'openSource': 'official', 'peRatio': 32.06, 'previousClose': 137.41, 'previousVolume': 4827381, 'primaryExchange': 'NEW YORK STOCK EXCHANGE INC.', 'symbol': 'ABBV', 'volume': None, 'week52High': 166.2, 'week52Low': 130.29, 'ytdChange': -0.14460440232517527, 'isUSMarketOpen': False}
{'avgTotalVolume': 3441855, 'calculationPrice': 'close', 'change': -8.82, 'changePercent': -0.02871, 'close': None, 'closeSource': 'official', 'closeTime': None, 'companyName': 'Accenture plc - Class A', 'currency': 'USD', 'delayedPrice': None, 'delayedPriceTime': None, 'extendedChange': None, 'extendedChangePercent': None, 'extendedPrice': None, 'extendedPriceTime': None, 'high': None, 'highSource': '15 minute delayed price', 'highTime': 1687550400368, 'iexAskPrice': 0, 'iexAskSize': 0, 'iexBidPrice': 0, 'iexBidSize': 0, 'iexClose': 298.425, 'iexCloseTime': 1687550396026, 'iexLastUpdated': 1687550396026, 'iexMarketPercent': 0.05209511820099247, 'iexOpen': 299.25, 'iexOpenTime': 1687527031858, 'iexRealtimePrice': 298.425, 'iexRealtimeSize': 57, 'iexVolume': 220565, 'lastTradeTime': 1687550399998, 'latestPrice': 298.43, 'latestSource': 'Close', 'latestTime': 'June 23, 2023', 'latestUpdate': 1687550402413, 'latestVolume': None, 'low': None, 'lowSource': '15 minute delayed price', 'lowTime': 1687527092797, 'marketCap': 197738427887, 'oddLotDelayedPrice': None, 'oddLotDelayedPriceTime': None, 'open': None, 'openTime': None, 'openSource': 'official', 'peRatio': 27.51, 'previousClose': 307.25, 'previousVolume': 4889312, 'primaryExchange': 'NEW YORK STOCK EXCHANGE INC.', 'symbol': 'ACN', 'volume': None, 'week52High': 327.93, 'week52Low': 241.01, 'ytdChange': 0.13197925864727678, 'isUSMarketOpen': False}

In [67]:
final_dataframe

  Ticker  Stock Price  Market Capitalization Number of shares to buy
0      A       119.42            35273780186                      NA
1    AAL        16.26            10616154000                      NA
2    AAP        65.67             3903677761                      NA
3   AAPL       186.70          2936548663400                      NA
4   ABBV       135.92           239802253306                      NA

## Using Batch API Calls to Improve Performance

Batch API calls are one of the easiest ways to improve the performance of your code.

This is because HTTP requests are typically one of the slowest components of a script.

Also, API providers will often give you discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls we'll make in this section from 500 to 5 - huge improvement! In this section, we'll split our list of stocks into groups of 100 and then make a batch API call for each group.

In [68]:
def chunks(lst,n):
    for i in range(0,len(lst),n):
        yield lst[i:i + n]

In [105]:
# index = 0 
# index_to_remove = 0
# for i in stocks['Symbol']:
#     index += 1
# stocks['Ticker'] = stocks['Ticker'].drop(index_to_remove)

nan
AAL
AAP
AAPL
ABBV
ABC
ABMD
ABT
ACN
ADBE
ADI
ADM
ADP
ADSK
AEE
AEP
AES
AFL
AIG
AIV
AIZ
AJG
AKAM
ALB
ALGN
ALK
ALL
ALLE
ALXN
AMAT
AMCR
AMD
AME
AMGN
AMP
AMT
AMZN
ANET
ANSS
ANTM
AON
AOS
APA
APD
APH
APTV
ARE
ATO
ATVI
AVB
AVGO
AVY
AWK
AXP
AZO
BA
BAC
BAX
BBY
BDX
BEN
BF.B
BIIB
BIO
BK
BKNG
BKR
BLK
BLL
BMY
BR
BRK.B
BSX
BWA
BXP
C
CAG
CAH
CARR
CAT
CB
CBOE
CBRE
CCI
CCL
CDNS
CDW
CE
CERN
CF
CFG
CHD
CHRW
CHTR
CI
CINF
CL
CLX
CMA
CMCSA
CME
CMG
CMI
CMS
CNC
CNP
COF
COG
COO
COP
COST
COTY
CPB
CPRT
CRM
CSCO
CSX
CTAS
CTL
CTSH
CTVA
CTXS
CVS
CVX
CXO
D
DAL
DD
DE
DFS
DG
DGX
DHI
DHR
DIS
nan
DISCK
DISH
DLR
DLTR
DOV
DOW
DPZ
DRE
DRI
DTE
DUK
DVA
DVN
DXC
DXCM
EA
EBAY
ECL
ED
EFX
EIX
EL
EMN
EMR
EOG
EQIX
EQR
ES
ESS
ETFC
ETN
ETR
EVRG
EW
EXC
EXPD
EXPE
EXR
F
FANG
FAST
FB
FBHS
FCX
FDX
FE
FFIV
FIS
FISV
FITB
FLIR
FLS
FLT
FMC
FOX
FOXA
FRC
FRT
FTI
FTNT
FTV
GD
GE
GILD
GIS
GL
GLW
GM
GOOG
GOOGL
GPC
GPN
GPS
GRMN
GS
GWW
HAL
HAS
HBAN
HBI
HCA
HD
HES
HFC
HIG
HII
HLT
HOLX
HON
HPE
HPQ
HRB
HRL
HSIC
HST
HSY
HUM
HWM
IBM
ICE
IDXX
IEX
IFF
ILMN
INCY
INFO
INTC
INTU
IP
IPG
IPGP
IQV
IR
IRM
ISRG
IT
ITW
IVZ
J
JBHT
JCI
JKHY
JNJ
JNPR
JPM
K
KEY
KEYS
KHC
KIM
KLAC
KMB
KMI
KMX
KO
KR
KSS
KSU
L
LB
LDOS
LEG
LEN
LH
LHX
LIN
LKQ
LLY
LMT
LNC
LNT
LOW
LRCX
LUV
LVS
LW
LYB
LYV
MA
MAA
MAR
MAS
MCD
MCHP
MCK
MCO
MDLZ
MDT
MET
MGM
MHK
MKC
MKTX
MLM
MMC
MMM
MNST
MO
MOS
MPC
MRK
MRO
MS
MSCI
MSFT
MSI
MTB
MTD
MU
MXIM
MYL
NBL
NCLH
NDAQ
NEE
NEM
NFLX
NI
NKE
NLOK
NLSN
NOC
NOV
NOW
NRG
NSC
NTAP
NTRS
NUE
NVDA
NVR
NWL
NWS
NWSA
O
ODFL
OKE
OMC
ORCL
ORLY
OTIS
OXY
PAYC
PAYX
PBCT
PCAR
PEAK
PEG
PEP
PFE
PFG
PG
PGR
PH
PHM
PKG
PKI
PLD
PM
PNC
PNR
PNW
PPG
PPL
PRGO
PRU
PSA
PSX
PVH
PWR
PXD
PYPL
QCOM
QRVO
RCL
RE
REG
REGN
RF
RHI
RJF
RL
RMD
ROK
ROL
ROP
ROST
RSG
RTX
SBAC
SBUX
SCHW
SEE
SHW
SIVB
SJM
SLB
SLG
SNA
SNPS
SO
SPG
SPGI
SRE
STE
STT
STX
STZ
SWK
SWKS
SYF
SYK
SYY
T
TAP
TDG
TDY
TEL
TFC
TFX
TGT
TIF
TJX
TMO
TMUS
TPR
TROW
TRV
TSCO
TSN
TT
TTWO
TWTR
TXN
TXT
TYL
UA
UAA
UAL
UDR
UHS
ULTA
UNH
UNM
UNP
UPS
URI
USB
V
VAR
VFC
VIAC
VLO
VMC
VNO
VRSK
VRSN
VRTX
VTR
VZ
WAB
WAT
WBA
WDC
WEC
WELL
WFC
WHR
WLTW
WM
WMB
WMT
WRB
WRK
WST
WU
WY
WYNN
XEL
XLNX
XOM
XRAY
XRX
XYL
YUM
ZBH
ZBRA
ZION
ZTS

In [104]:
index_to_remove

0

In [109]:
symbol_groups = list( chunks(stocks['Symbol'],100))
symbol_strings = []

for i in range(0,len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
final_dataframe = pd.DataFrame(columns= my_columns)
print(symbol_strings)

['MMM,AOS,ABT,ABBV,ACN,ATVI,ADM,ADBE,ADP,AAP,AES,AFL,A,APD,AKAM,ALK,ALB,ARE,ALGN,ALLE,LNT,ALL,GOOGL,GOOG,MO,AMZN,AMCR,AMD,AEE,AAL,AEP,AXP,AIG,AMT,AWK,AMP,ABC,AME,AMGN,APH,ADI,ANSS,AON,APA,AAPL,AMAT,APTV,ACGL,ANET,AJG,AIZ,T,ATO,ADSK,AZO,AVB,AVY,AXON,BKR,BALL,BAC,BBWI,BAX,BDX,WRB,BRK.B,BBY,BIO,TECH,BIIB,BLK,BK,BA,BKNG,BWA,BXP,BSX,BMY,AVGO,BR,BRO,BF.B,BG,CHRW,CDNS,CZR,CPT,CPB,COF,CAH,KMX,CCL,CARR,CTLT,CAT,CBOE,CBRE,CDW,CE,CNC', 'CNP,CDAY,CF,CRL,SCHW,CHTR,CVX,CMG,CB,CHD,CI,CINF,CTAS,CSCO,C,CFG,CLX,CME,CMS,KO,CTSH,CL,CMCSA,CMA,CAG,COP,ED,STZ,CEG,COO,CPRT,GLW,CTVA,CSGP,COST,CTRA,CCI,CSX,CMI,CVS,DHI,DHR,DRI,DVA,DE,DAL,XRAY,DVN,DXCM,FANG,DLR,DFS,DIS,DG,DLTR,D,DPZ,DOV,DOW,DTE,DUK,DD,DXC,EMN,ETN,EBAY,ECL,EIX,EW,EA,ELV,LLY,EMR,ENPH,ETR,EOG,EPAM,EQT,EFX,EQIX,EQR,ESS,EL,ETSY,RE,EVRG,ES,EXC,EXPE,EXPD,EXR,XOM,FFIV,FDS,FICO,FAST,FRT,FDX,FITB,FSLR', 'FE,FIS,FI,FLT,FMC,F,FTNT,FTV,FOXA,FOX,BEN,FCX,GRMN,IT,GEHC,GEN,GNRC,GD,GE,GIS,GM,GPC,GILD,GL,GPN,GS,HAL,HIG,HAS,HCA,PEAK,HSIC,HSY,HES,HPE,HLT,HOLX,HD,HON,HRL,HST,HWM,HPQ,HUM,HBAN,HII,IBM,IEX,IDXX,ITW,ILMN,INCY,IR,PODD,INTC,ICE,IFF,IP,IPG,INTU,ISRG,IVZ,INVH,IQV,IRM,JBHT,JKHY,J,JNJ,JCI,JPM,JNPR,K,KDP,KEY,KEYS,KMB,KIM,KMI,KLAC,KHC,KR,LHX,LH,LRCX,LW,LVS,LDOS,LEN,LNC,LIN,LYV,LKQ,LMT,L,LOW,LYB,MTB,MRO,MPC', 'MKTX,MAR,MMC,MLM,MAS,MA,MTCH,MKC,MCD,MCK,MDT,MRK,META,MET,MTD,MGM,MCHP,MU,MSFT,MAA,MRNA,MHK,MOH,TAP,MDLZ,MPWR,MNST,MCO,MS,MOS,MSI,MSCI,NDAQ,NTAP,NFLX,NWL,NEM,NWSA,NWS,NEE,NKE,NI,NDSN,NSC,NTRS,NOC,NCLH,NRG,NUE,NVDA,NVR,NXPI,ORLY,OXY,ODFL,OMC,ON,OKE,ORCL,OGN,OTIS,PCAR,PKG,PANW,PARA,PH,PAYX,PAYC,PYPL,PNR,PEP,PFE,PCG,PM,PSX,PNW,PXD,PNC,POOL,PPG,PPL,PFG,PG,PGR,PLD,PRU,PEG,PTC,PSA,PHM,QRVO,PWR,QCOM,DGX,RL,RJF,RTX,O,REG,REGN', 'RF,RSG,RMD,RVTY,RHI,ROK,ROL,ROP,ROST,RCL,SPGI,CRM,SBAC,SLB,STX,SEE,SRE,NOW,SHW,SPG,SWKS,SJM,SNA,SEDG,SO,LUV,SWK,SBUX,STT,STLD,STE,SYK,SYF,SNPS,SYY,TMUS,TROW,TTWO,TPR,TRGP,TGT,TEL,TDY,TFX,TER,TSLA,TXN,TXT,TMO,TJX,TSCO,TT,TDG,TRV,TRMB,TFC,TYL,TSN,USB,UDR,ULTA,UNP,UAL,UPS,URI,UNH,UHS,VLO,VTR,VRSN,VRSK,VZ,VRTX,VFC,VTRS,VICI,V,VMC,WAB,WBA,WMT,WBD,WM,WAT,WEC,WFC,WELL,WST,WDC,WRK,WY,WHR,WMB,WTW,GWW,WYNN,XEL,XYL,YUM,ZBRA', 'ZBH,ZION,ZTS']

In [110]:


for symbol_string in symbol_strings:
    batch_api_call_url = f'https://cloud.iexapis.com/stable/stock/market/batch?symbols={symbol_string},fb,tsla&types=quote&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        #print(data[symbol]['quote'])
        final_dataframe.loc[len(final_dataframe)] = [symbol,data[symbol]['quote']['latestPrice'],data[symbol]['quote']['marketCap'],'NA']
final_dataframe

    Ticker  Stock Price  Market Capitalization Number of shares to buy
0      MMM       100.72            55564425696                      NA
1      AOS        69.49            10616371371                      NA
2      ABT       108.05           187893201632                      NA
3     ABBV       135.92           239802253306                      NA
4      ACN       298.43           197738427887                      NA
..     ...          ...                    ...                     ...
498    YUM       135.60            37979794895                      NA
499   ZBRA       264.39            13597667064                      NA
500    ZBH       143.99            30031891347                      NA
501   ZION        26.58             3936516633                      NA
502    ZTS       168.37            77805821012                      NA

[503 rows x 4 columns]

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [111]:
portfolio_size= float(input("Enter the value of the portfolio: "))

Enter the value of the portfolio100000

In [112]:
position_size = portfolio_size/len(final_dataframe.index)
for i in range(0,len(final_dataframe.index)):
    final_dataframe.loc[i,'Number of shares to buy'] = math.floor(position_size/final_dataframe.loc[i,'Stock Price'])

In [113]:
final_dataframe

    Ticker  Stock Price  Market Capitalization Number of shares to buy
0      MMM       100.72            55564425696                       1
1      AOS        69.49            10616371371                       2
2      ABT       108.05           187893201632                       1
3     ABBV       135.92           239802253306                       1
4      ACN       298.43           197738427887                       0
..     ...          ...                    ...                     ...
498    YUM       135.60            37979794895                       1
499   ZBRA       264.39            13597667064                       0
500    ZBH       143.99            30031891347                       1
501   ZION        26.58             3936516633                       7
502    ZTS       168.37            77805821012                       1

[503 rows x 4 columns]